@import url('@/styles/variables.css');

.app-container {
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    grid-template-columns: 1fr auto;
    min-height: 100vh;
    margin: none;
    max-width: 100%;
}

.header {
    position: fixed;
    max-height: var(--header-height);
    top: 0;
    left: 0;
    height: 8.2vh;
    width: 100%;
}

.main-content {
    position: fixed;
    top: var(--header-height);
    bottom: var(--footer-height);
    max-width: var(--main-content-width);
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    right: var(--side-panel-width);
    left: 0;
    padding: 1em;
    margin: 0;
}

.side-panel {
    position: fixed;
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(100vw - var(--main-content-width));
    top: var(--header-height);
    bottom: var(--footer-height);
    left: var(--main-content-width);
    padding: 3em;
    border-left: 0.1em solid #ccc;
    width: 20%;
    overflow-y: hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .mainContent {
        padding-top: 10%;
    }

    .sidePanel {
        display: none;
    }
}