.side-panel {
    padding: 1.5em;
}

.report {
    margin-bottom: 3em;
    background-color: #ddddff;
    padding: 0;
    box-sizing: border-box;
}

.report p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 2.5em;
}