:root {
  --header-height: 15vh; /* Adjust as needed */
  --footer-height: 7vh;
  --main-content-width: 70vw;
  --app-max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-columns: 1fr 20%; /* Adjust the side panel width as needed */
  min-height: 100vh;
}

.main-content {
  grid-row: 2 / 3; /* Updated grid row value */
  grid-column: 1 / 2; /* Updated grid column value */
  padding: 1em 2em;
  width: var(--main-content-width);
}

/* Styles for Header, Footer, SidePanel go here */

.headerSection {
  height: var(--header-height);
  flex: 0 0 auto; /* Fixed height for header */
}

.sidePanel {
  position: fixed;
  flex-basis: 20%;
  max-width: calc(var(--app-max-width) - var(--main-content-width));
  max-height: calc(100vh - var(--header-height) - var(--footer-height));
  overflow: auto; /* Allow side panel to scroll if content exceeds height */
  top: var(--header-height);
  bottom: var(--footer-height);
}

.footer {
  height: var(--footer-height);
  flex: 0 0 auto; /* Fixed height for footer */
}

.headerSection,
.mainContent,
.footerSection {
  z-index: 1; /* Ensure they are at the same z-index level */
}

.sidePanel {
  z-index: 2; /* Place side panel above other sections */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .mainContent {
    padding-top: 10%; /* Increase padding for smaller screens */
  }

  .sidePanel {
    display: none; /* Hide side panel on smaller screens */
  }
}