:root {
    --header-height: 11vh; /* Adjust as needed */
    --footer-height: 7vh;
    --main-content-width: 75vw;
  }

.side-panel-content {
    position: fixed;
    display: block;
    top: var(--header-height);
    bottom: var(--footer-height);
    left: var(--main-content-width);
    box-sizing: content-box;
    width: calc(100vw - var(--main-content-width));
    padding: 2em;
    border-left: 0.1vw solid #ccc;
}

.report {
    margin-bottom: 3em; /* Add margin between report sections */
    background-color: #ddddff;
    padding-top: 0;
    padding-right: 0.5em;
    box-sizing: border-box;
}

.report p {
    margin: 0; /* Remove default margin for paragraphs */
    font-size: 1.2em; /* Adjust font size for condensed text */
    line-height: 1.2; /* Adjust line height for spacing */
    padding: 2.5em;
}